body .body-index {
  background-image: url("../img/backround.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%; }

body header {
  width: 100%; }
  body header .navbar {
    background-color: #e3e3f475;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center; }
    body header .navbar ul {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%; }
      body header .navbar ul .li-a-1 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0px;
        width: 100%; }
        body header .navbar ul .li-a-1 li {
          list-style: none; }
          body header .navbar ul .li-a-1 li a {
            list-style: none;
            margin-left: 20px;
            margin-right: 5px;
            color: grey;
            font-family: "dancing-script";
            text-decoration: none; }
            body header .navbar ul .li-a-1 li a:hover {
              color: white;
              text-decoration: underline; }
      body header .navbar ul img {
        width: 200px;
        height: 200px;
        margin-right: 50px; }

body main {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px; }
  body main .h1-index {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #e3e3f475;
    margin-bottom: 75px; }
    body main .h1-index h1 {
      color: navy;
      font-family: 'script';
      width: 280px;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center; }
  body main .images-index {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    height: 300px;
    overflow: hidden;
    margin-bottom: 30px; }
    body main .images-index img {
      margin-left: 20px;
      margin-right: 20px; }

body footer {
  height: 150px;
  background-color: #e3e3f475;
  display: flex;
  justify-content: center;
  align-items: center; }
  body footer img {
    width: 150px;
    height: 150px;
    margin-left: 10px; }

@media (max-width: 600px) {
  header .navbar {
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    header .navbar ul {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%; }
      header .navbar ul img {
        display: none; }
      header .navbar ul .li-a-1 {
        display: flex;
        justify-content: right;
        flex-direction: row; }
        header .navbar ul .li-a-1 li {
          list-style: none;
          display: flex;
          justify-content: center;
          flex-direction: row; }
          header .navbar ul .li-a-1 li a {
            list-style: none;
            margin-left: 5px;
            margin-right: 5px;
            color: grey;
            font-family: "dancing-script";
            text-decoration: none;
            font-size: 16px; }
            header .navbar ul .li-a-1 li a:hover {
              color: white;
              text-decoration: underline; }
  .main-index .images-index {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    height: 300px;
    overflow: hidden;
    margin-bottom: 15px; }
    .main-index .images-index img {
      margin-left: 10px;
      margin-right: 10px; }
    .main-index .images-index .img-3 {
      display: none; }
    .main-index .images-index .img-4 {
      display: none; } }

.body-index header {
  width: 100%; }
  .body-index header .nav-wii {
    background-color: #e3e3f475;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .body-index header .nav-wii ul {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%; }
      .body-index header .nav-wii ul .li-a-1 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0px;
        width: 100%; }
        .body-index header .nav-wii ul .li-a-1 li {
          list-style: none; }
          .body-index header .nav-wii ul .li-a-1 li a {
            list-style: none;
            margin-left: 20px;
            margin-right: 5px;
            color: grey;
            font-family: "dancing-script";
            text-decoration: none; }
            .body-index header .nav-wii ul .li-a-1 li a:hover {
              color: white;
              text-decoration: underline; }
      .body-index header .nav-wii ul img {
        width: 200px;
        height: 200px;
        margin-right: 50px; }

.body-index .main-wii {
  height: 550px;
  width: 90%;
  display: flex;
  margin-left: 70px;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px; }
  .body-index .main-wii .h1-index {
    display: flex;
    justify-content: left;
    background-color: #e3e3f475;
    margin-bottom: 75px;
    margin-top: 10px; }
    .body-index .main-wii .h1-index h1 {
      color: navy;
      font-family: 'script';
      width: 280px;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center; }
  .body-index .main-wii .info-om {
    height: 75%;
    width: 98%;
    background-color: #e3e3f475;
    display: flex;
    justify-content: center;
    align-items: center; }
    .body-index .main-wii .info-om .p-1 {
      color: navy;
      width: 45%;
      height: 98%;
      display: flex;
      align-items: center;
      padding: 15px; }
    .body-index .main-wii .info-om .p-2 {
      color: navy;
      width: 45%;
      height: 98%;
      display: flex;
      align-items: center;
      padding: 15px; }

.body-index footer {
  height: 150px;
  background-color: #e3e3f475;
  display: flex;
  justify-content: center;
  align-items: center; }
  .body-index footer img {
    width: 150px;
    height: 150px;
    margin-left: 10px; }

@media (max-width: 600px) {
  header .nav-wii {
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    header .nav-wii ul {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%; }
      header .nav-wii ul img {
        display: none; }
      header .nav-wii ul .li-a-1 {
        display: flex;
        justify-content: right;
        flex-direction: row; }
        header .nav-wii ul .li-a-1 li {
          list-style: none;
          display: flex;
          justify-content: center;
          flex-direction: row; }
          header .nav-wii ul .li-a-1 li a {
            list-style: none;
            margin-left: 5px;
            margin-right: 5px;
            color: grey;
            font-family: "dancing-script";
            text-decoration: none;
            font-size: 16px; }
            header .nav-wii ul .li-a-1 li a:hover {
              color: white;
              text-decoration: underline; } }

@media (max-width: 600px) and (max-width: 600px) {
  .body-index .main-wii {
    height: 700px;
    width: 90%;
    display: flex;
    margin-left: 30px;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px; }
    .body-index .main-wii .h1-index {
      display: flex;
      justify-content: left;
      background-color: #e3e3f475;
      margin-bottom: 75px;
      margin-top: 10px; }
      .body-index .main-wii .h1-index h1 {
        color: navy;
        font-family: 'script';
        width: 280px;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center; }
    .body-index .main-wii .info-om {
      height: 75%;
      width: 98%;
      background-color: #e3e3f475;
      display: flex;
      justify-content: center;
      align-items: center; }
      .body-index .main-wii .info-om .p-1 {
        display: none; }
      .body-index .main-wii .info-om .p-2 {
        color: navy;
        width: 98%;
        height: 98%;
        display: flex;
        align-items: center;
        padding: 15px; } }

.body-index {
  background-image: url("../img/backround.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%; }
