@import "./secciones/index";
@import "./secciones/whatisit";
@import "../scss/secciones/outfits";


//Outfits
@import "./secciones/british";
@import "./secciones/italian";

.body-index {
    background-image: url('../img/backround.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    ;
}
