.body-index {

    header {
        width: 100%;

        .nav-wii {
            background-color: #e3e3f475;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;

            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 90%;

                .li-a-1 {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    padding: 0px;
                    width: 100%;

                    li {
                        list-style: none;

                        a {
                            list-style: none;
                            margin-left: 20px;
                            margin-right: 5px;
                            color: grey;
                            font-family: "dancing-script";
                            text-decoration: none;

                            &:hover {
                                color: white;
                                text-decoration: underline;
                            }
                        }
                    }
                }

                img {
                    width: 200px;
                    height: 200px;
                    margin-right: 50px;
                }
            }
        }
    }

    .main-outfits {
        width: 100%;
        display: flex;
        flex-wrap: wrap; // Permite que las secciones se envuelvan (una debajo de la otra)
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    
        section {
            width: calc(30% - 20px); 
            margin: 0 10px 20px; 
            height: 90%;
            display: flex;
            justify-content: center;
            text-align: center;
            flex-direction: column;
    
            h3 {
                margin-top: 5px;
                font-family: serif;
            }
    
            .img-british,
            .img-italian,
            .img-scandinavian {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
    
                img {
                    width: 50%;
                    margin: 5px;
                    display: flex;
                    justify-content: center;
                }
            }
    
            button {
                width: 100px;
                height: 25px;
                margin-top: 10px;
                font-size: 16px;
    
                &:hover {
                    width: 110px;
                }
            }
        }
    }

    footer {
        height: 150px;
        background-color: #e3e3f475;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 150px;
            height: 150px;
            margin-left: 10px;
        }

    }
}

@media screen and (max-width: 768px) {
    section {
        display: block;
    }
}
