.body-wii {
    header {
        width: 100%;

        .nav-wii {
            background-color: #e3e3f475;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;

            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 90%;

                .li-a-1 {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    padding: 0px;
                    width: 100%;

                    li {
                        list-style: none;

                        a {
                            list-style: none;
                            margin-left: 20px;
                            margin-right: 5px;
                            color: grey;
                            font-family: "dancing-script";
                            text-decoration: none;

                            &:hover {
                                color: white;
                                text-decoration: underline;
                            }
                        }
                    }
                }

                img {
                    width: 200px;
                    height: 200px;
                    margin-right: 50px;
                }
            }
        }
    }

    .main-index {
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // margin-top: 40px;
        margin-bottom: 20px;
        
        border: solid 3px navy;

        .h1-index {
            display: flex;
            justify-content: left;
            // align-items: center;
            background-color: #e3e3f475;
            margin-bottom: 75px;
            margin-top: 10px;
            border: solid 3px silver;

            h1 {
                color: navy;
                font-family: 'script';
                width: 280px;
                font-size: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media (max-width: 600px) {
    header {
        .nav-wii {
            height: 200px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50%;

                img {
                    display: none;
                }

                .li-a-1 {
                    display: flex;
                    justify-content: right;
                    flex-direction: row;

                    li {
                        list-style: none;
                        display: flex;
                        justify-content: center;
                        flex-direction: row;

                        a {
                            list-style: none;
                            margin-left: 5px;
                            margin-right: 5px;
                            color: grey;
                            font-family: "dancing-script";
                            text-decoration: none;
                            font-size: 16px;

                            &:hover {
                                color: white;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}